build/
.DS_Store
RTD.xcodeproj/brycehammond.mode1v3
RTD.xcodeproj/brycehammond.pbxuser
RTD.xcodeproj/bryce.mode1v3
RTD.xcodeproj/bryce.pbxuser
RTD.xcodeproj/project.xcworkspace/xcuserdata/bryce.xcuserdatad/
RTD.xcodeproj/xcuserdata/bryce.xcuserdatad/